body{
   background-color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
   background-color: rgb(253, 251, 251);
   width: 300px;
   margin: auto;
   padding: 5px;
   display : flex;
   flex-direction: column;
   text-align:  center;
}
.container > h1{
color: rgb(94, 11, 87);
}
.container > p{
   padding: 0;
   margin-top: 0;
   text-align: center;
   line-height: 20px;
   color: rgb(148, 134, 147);
   text-shadow: rgb(207, 195, 206) 0px 0px 20px;
}
.container > h4{
   font-size: 15px;
   text-align: center;
   color: rgb(85, 12, 79);
   background-color: rgb(243, 233, 243);
   padding : 5px;
   margin: 30px;
}

.review{
   display: flex;
   flex-direction: column;
   background-color: rgb(88, 33, 84);
   color: white;
   border-radius: 3%;
}
.review>p{
   color: rgb(228, 201, 226);
   text-align: justify;
   font-size: 15px;
   margin: 0px 15px 20px 25px ;
   line-height: 20px;
}
.customer{
   /* display: flex;
   flex-direction: row; */
   display: block;
   margin: 30px;
}
.customer>img{
   width : 50px;
   /* margin-left: 10px; */
   background-color: rgb(94, 11, 87);
   float: left;
   border-radius: 50%;
}
.customer>h4{
   /* clear: right; */
   color: white;
   font-size: 15px;
   width:170px;
   height: 20px;
   margin: 10px 0px 0px 15px;
   padding-left: 10px;
}
.customer>p{
   color:rgb(180, 86, 172);
   font-size: 15px;
   width: 90px;
   height: 20px;
   margin: 0px 0px 0px 72px;
   
}